*.dep
*.la
*.lo
.libs
acinclude.m4
aclocal.m4
autom4te.cache
build
captainhook.config.json
composer.lock
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.ac
configure.in
include
install-sh
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
modules
php_test_results_*.txt
phpt.*
phpunit.xml
run-test-info.php
run-tests.php
tests/phpt/**/*.diff
tests/phpt/**/*.out
tests/phpt/**/*.php
tests/phpt/**/*.exp
tests/phpt/**/*.log
tests/phpt/**/*.sh
tests/phpt/**/*.db
tests/phpt/**/*.mem
tmp-php.ini
vendor
